@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');



:root {
    --cor1: #3470BF;
    --cor2: #F2CB05;
    --cor3: #F2B705;
    --cor4: #D98E04;
    --cor5: #F2F2F2;


    --font1: 'Sriracha', cursive;
    --font2: 'Hind Madurai', sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor3);
    font-family: var(--font2);
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
    background-color: var(--cor1);
    
}

header h1 {
    font-family: var(--font1);
    color: var(--cor5);
    margin-bottom: 15px;
    font-size: 3em;
    text-shadow: 2px 2px 0px #00000083;
}

header p {
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--cor5);
    padding-bottom: 10px;
}

header p span.grama {
    font-style: bold;
    background-color: green;
    color: black;
}

header p span.fogo {
    font-style: bold;
    background-color: orange;
    color: black;
}

header p span.agua {
    font-style: bold;
    background-color: lightskyblue;
    color: black;
}

header img.logo-p {
    max-width: 90px;
}

nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor2);
}

nav a {
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: var(--cor5);
}

main section h2 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 30px;
}

main img.image-starters {
    display: block;
    margin: auto;
}

main section img{
    padding-bottom: 20px;
}

aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    gap: 16px;
}  

aside p {
    font-size: 1.5em;
    font-weight: bolder;
}

aside .btn {
    height: 35px;
    width: 90px;
    border-radius: 10em;
    background-color: var(--cor5);
}

aside button:hover {
    background-color: var(--cor4);
}

footer {
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 5px;
    background-color: var(--cor4);
}

footer a {
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
